# Logs
backend/otp-debug.log
*.log

# Dependency directories
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Uploads & temporary test files
backend/uploads/*
!backend/uploads/.gitkeep
*.pdf